---
title: About
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>About</h2>
</div>

<main>
    <div class="post-wrapper">
        <article class="markdown-body">
                <br>
            <p>Brian Lima is a Brazilian developer, age 23, who works with .Net and C# since he was 16, he is a junior developer at Itaesbra, 
                a metalurgic company situated in Diadema - São Paulo, previously worked at Aplisoftware, a software house in São Bernardo do Campo, also in São Paulo.</p>
                <br>
            <p>He is graduated in a technician degree on ETEC Lauro Gomes on Computer programming, and incomplete Cience Computer bachelor's degree on Universidade Federal do ABC. </p>
                <br>
            <p>Since then, by building open source tools for the community and by mantaining various aplications for the companys where he worked, he developed a passion for C# and Visual Studio,
            but also knows his way through JS, Visual Basic and Java, by working on corporate environments he also developed a crush on Linux servers and QT applications.</p>
                <br>
            <p>When young, he liked his Sega Saturn so much, and it made he wonder everyday how does that thing works, or how how was it built, as a curious child, he disassembled controllers
                when he thought he could fix them, usually he broke them more, but as he grew up, he learned to fix those, and many other problems he faced, by growing like a tech lover
                he learned to speak english soon so he could know what to do on those hard Tomb Raider puzzles.
            </p>
                <br>
            <p>By involving with the casemodding community at Campus Party, a gigantic local Lan-Party in São Paulo, he learned to create solutions using platforms like Arduinos and by
                working with more 'manual' jobs, crafting his way through computer hardware, and by stealing the show flor with Arduino powered computer cases.</p>
                <br>
            <p>By working independently on his free time, he created a small tool called UWPHook, that helped gamers to make Windows Store games more familiar for those who like Steam's UI,
                previously having built his first bigger project, Quick for Cortana, a voice powered note taking app build for Windows Phone 8.1
                and now he is working on HueHue, an Arduino powered LED controller for PC cases and similar gear, all this work is available on his personal GitHub.</p> 
                <br>
        </article>
    </div>
</main>

    <br>
    <br>
    
<section class="author-detail">
        <section class="post-footer-item author-card">
            <div class="avatar">
                <img src="{{ site.avatar | absolute_url }}" alt="">
            </div>
            <div class="author-name" rel="author">{{ site.author }}</div>
            <div class="bio">
                <p>{{ site.bio }}</p>
            </div>
            {% if site.sns.size > 0 %}
            <ul class="sns-links">
                {% for s in site.sns %}
                <li>
                    <a href="{{ s[1] }}" target="_blank">
                        <i class="iconfont icon-{{ s[0] }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
        <section class="post-footer-item read-next">
            {% if page.next.url %}
            <div class="read-next-item">
                <a href="{{ page.next.url }}" class="read-next-link"></a>
                <section>
                    <span>{{ page.next.title }}</span>
                    <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
                </section>
                {% if page.next.cover %}
                <div class="filter"></div>
                <img src="{{ page.next.cover }}" alt="">
                {% endif %}
            </div>
            {% endif %}
            {% if page.previous.url %}
            <div class="read-next-item">
                <a href="{{ page.previous.url }}" class="read-next-link"></a>
                <section>
                    <span>{{ page.previous.title }}</span>
                    <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
                </section>
                {% if page.previous.cover %}
                <div class="filter"></div>
                <img src="{{ page.previous.cover }}" alt="">
                {% endif %}
            </div>
            {% endif %}
        </section>
        {% if site.disqus %}
        <section class="post-footer-item comment">
            <div id="disqus_thread"></div>
        </section>
        {% endif %}
    </section>

{% include footer.html %}