---
title: Projects
layout: default
---

{% include header.html %}

<style>
        #projects {
            font-family: "Calibri", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #projects td, #projects th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #projects tr:nth-child(even){background-color: #f2f2f2;}
        
        #projects tr:hover {background-color: #ddd;}
        
        #projects th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #00b2ff;
            color: white;
        }
        </style>

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>TAGS</h2>
</div>

<main>
        <div class="post-wrapper">
                <article class="markdown-body">
                    <p>Hi, these are some of the projects i worked on, mostly are my own, that i built on free time.</p>
                    <p>Private code is not represented in here for obvious reasons.</p>
                    <br>
                        <table id="projects">
                                <tr>
                                  <th>Project</th>
                                  <th>Description</th>
                                  <th>Source</th>
                                  <th>Download</th>
                                </tr>
                                <tr>
                                  <td>HueHue</td>
                                  <td>Arduino powered LED controller for Windows</td>
                                  <td><a href = https://github.com/BrianLima/HueHue /> Source</td>
                                  <td><a href = https://github.com/BrianLima/HueHue/releases /> Release </td>
                                </tr>
                                <tr>
                                  <td>UWPHook</td>
                                  <td>Add Windows Store games to Steam</td>
                                  <td><a href = https://github.com/BrianLima/UWPHook /> Source</td>
                                  <td><a href = https://github.com/BrianLima/UWPHook/releases /> Release </td>
                                </tr>
                                <tr>
                                  <td>Quick for Cortana</td>
                                  <td>Audible notes using Cortana</td>
                                  <td><a href = https://github.com/BrianLima/CortanaQuick /> Source</td>
                                  <td><a href = https://www.microsoft.com/en-us/store/p/quick-for-cortana/9wzdncrdnl9c# /> Release </td>
                                </tr>
                                <tr>
                                  <td>Backstage</td>
                                  <td>Project manager</td>
                                  <td>Private</td>
                                  <td>Private </td>
                                </tr>
                        </table>
                </article>
        </div>
</main>
    
{% include footer.html %}