---
title: Projects
layout: default
postPatterns: 'ticTacToe'
---

{% include header.html %}

<style>
        #projects {
            font-family: "Calibri", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #projects td, #projects th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #projects tr:nth-child(even){background-color: #f2f2f2;}
        
        #projects tr:hover {background-color: #ddd;}
        
        #projects th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #006eff;
            color: white;
        }
</style>

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>Projects</h2>
</div>

<main>
        <div class="post-wrapper">
                <article class="markdown-body">
                    <br>
                    <p>Hi, these are some of the projects i worked on, mostly are my own, that i built on free time as i faced some small problems that could be easilly resolved,
                      or as i had those brainstorm ideas that we have sometimes.</p>
                    <p>Company private code is not represented in here for obvious reasons.</p>
                        <table id="projects">
                                <tr>
                                  <th>Project</th>
                                  <th>Description</th>
                                  <th>Source</th>
                                  <th>Download</th>
                                </tr>
                                <tr>
                                  <td>HueHue</td>
                                  <td>Arduino powered LED controller for Windows</td>
                                  <td><a href = https://github.com/BrianLima/HueHue /> Source</td>
                                  <td><a href = https://github.com/BrianLima/HueHue/releases /> Release </td>
                                </tr>
                                <tr>
                                  <td>UWPHook</td>
                                  <td>Add Windows Store games to Steam</td>
                                  <td><a href = https://github.com/BrianLima/UWPHook /> Source</td>
                                  <td><a href = https://github.com/BrianLima/UWPHook/releases /> Release </td>
                                </tr>
                                <tr>
                                  <td>Quick for Cortana</td>
                                  <td>Audible notes using Cortana</td>
                                  <td><a href = https://github.com/BrianLima/CortanaQuick /> Source</td>
                                  <td><a href = https://www.microsoft.com/en-us/store/p/quick-for-cortana/9wzdncrdnl9c# /> Release </td>
                                </tr>
                                <tr>
                                  <td>Backstage</td>
                                  <td>Project manager</td>
                                  <td>Private</td>
                                  <td>Private </td>
                                </tr>
                        </table>
                </article>
        </div>
</main>
    
<section class="author-detail">
    <section class="post-footer-item author-card">
        <div class="avatar">
            <img src="{{ site.avatar | absolute_url }}" alt="">
        </div>
        <div class="author-name" rel="author">{{ site.author }}</div>
        <div class="bio">
            <p>{{ site.bio }}</p>
        </div>
        {% if site.sns.size > 0 %}
        <ul class="sns-links">
            {% for s in site.sns %}
            <li>
                <a href="{{ s[1] }}" target="_blank">
                    <i class="iconfont icon-{{ s[0] }}"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    <section class="post-footer-item read-next">
        {% if page.next.url %}
        <div class="read-next-item">
            <a href="{{ page.next.url }}" class="read-next-link"></a>
            <section>
                <span>{{ page.next.title }}</span>
                <p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
            </section>
            {% if page.next.cover %}
            <div class="filter"></div>
            <img src="{{ page.next.cover }}" alt="">
            {% endif %}
        </div>
        {% endif %}
        {% if page.previous.url %}
        <div class="read-next-item">
            <a href="{{ page.previous.url }}" class="read-next-link"></a>
            <section>
                <span>{{ page.previous.title }}</span>
                <p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
            </section>
            {% if page.previous.cover %}
            <div class="filter"></div>
            <img src="{{ page.previous.cover }}" alt="">
            {% endif %}
        </div>
        {% endif %}
    </section>
    {% if site.disqus %}
    <section class="post-footer-item comment">
        <div id="disqus_thread"></div>
    </section>
    {% endif %}
</section>

{% include footer.html %}